
@{
    ViewBag.Title = "Property Successfuly Listed!";
}


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <h1>Property Successfuly listed!</h1>
        @Html.ActionLink("Back to home", "Index", "Home");
    </div>
</div>

