@model Property.Web.Models.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1 class="review-group-heading">Properties Currently on Market</h1>


<div class="row">
    
        @Html.DisplayFor(x => x.CurrentListings)
   
       
    

